.qr-address {
  margin-top: 71.78px;
  margin-left: 64px;
  position: relative;
}

.qr-copy-address {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.qr-button-container {
  margin-left: 4px;
}