.create-address-book-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 18px;
  padding-right: 18px;
}

.create-address-book-container {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  height: 100vh;
}