.transfer-form-address-alias {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.transfer-form-address-text {
  font-size: 14px;
}
