.wallet-container {
  background-image: linear-gradient(94.54deg, #FF8212 0%, #ED4454 100%);
  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, 1);
  height: 75px;
  width: 100%;
  padding: 18px 21.83px 13px 19px;
}

.token-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(94.54deg, #FF8212 0%, #ED4454 100%) !important;
  height: 142px;
  width: 100%;
  padding: 4px 18px 16px 18px;
}

.tab-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
}

.tab-item {
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
}

.transaction-container {
  display: flex;
  flex-direction: column;
}

.token-list-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
