.confirm-form-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.confirm-form-top-container {
  background: #FFFFFF;
  border-radius: 8px;
  margin: 0 16px;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 180px;
}

.confirm-form-amount-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.confirm-form-total-amount-divider {
  width: 100% !important;
  margin-bottom: 16px;
}

.confirm-form-to-container,
.confirm-form-amount-container,
.confirm-form-fee-container,
.confirm-form-total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 38.83px;
  padding-left: 16px;
  padding-right: 16px;
}

.confirm-form-to-container {
  margin-top: 10;
}

.confirm-form-amount-container {
  margin-top: 0;
}

.confirm-form-fee-container {
  margin-top: 0;
}

.confirm-form-total-container {
  margin-top: 0;
}

.confirm-form-password-container {
  width: 100%;
}

.confirm-form-password {
  display: flex;
  width: 100%;
  color: #858B9C;
  margin-top: 16px;
  border-radius: 12px;
}

.confirm-form-password fieldset {
  border: 0;
  font-size: 14px;
}