.language-card-item {
  margin-top: 10px;
}
.language-card-text {
  font-size: 14px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto-Regular';
  display: block;
  font-weight: bold;
}

.language-card-icon {
  color: #4F4D59;
  font-size: 16px !important;
}