
.transfer-to-input-contianer {
  flex: 1;
}
.transfer-to-input {
  width: 100%;
  border-radius: 12px;
  height: 50px;
}

.transfer-to-input fieldset {
  border: 0;
  font-size: 14px;
}

.input-margin {
  margin-top: 12px !important;
}

.transfer-to-input-meter {
  margin-top: 50px;
}

.tranfer-to-error-msg {
  color: #FA5050;
  height: 20px;
  margin-left: 22px;
}

.place-holder {
  height: 20px;
}