
.transfer-from-amount-input {
  width: 171.23px;
}

.transfer-from-amount-input fieldset {
  border: 0;
  font-size: 14px;
  background-color: rgba(65, 72, 93, 0.1);
}

.transfer-from-amount-input:focus-within fieldset {
  background-color: transparent;
  border: 2px solid #ECEDEF !important;
}

.input-margin {
  margin-top: 12px !important;
}

.transfer-from-amount-input-meter {
  margin-top: 50px;
}

.transfer-from-amount-input-error-msg {
  display: block;
  color: #FA5050;
  height: 20px;
}

.transfer-from-amount-input-place-holder {
  height: 20px;
  display: block;
}