.account-alias {
  font-size: 16px;
  line-height: 27px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.account-address {
  font-size: 12px;
  width: 90px;
}

.account-address:hover {
  cursor: pointer;
}

.address {
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
}

.account-input {
  width: 100%;
  display: flex;
  width: 100px;
  height: 54.82px;
}

.account-input fieldset {
  border: 0;
  font-size: 14px;
  background-color: rgba(65, 72, 93, 0.1);
}

.account-input:focus-within fieldset {
  background-color: transparent;
  border: 2px solid #ECEDEF !important;
}

.input-margin {
  margin-top: 12px !important;
}