.button-custom button {
  font-family: "Roboto-Medium";
  text-transform: none;
}

.button-custom button:hover {
  background-color: #FF8D00;
  color: white;
}

.button-custom1 button:hover {
  background-color: #eee !important;
  color: black;
}
