.about-container {
  display: flex;
  flex-direction: column;
  padding: 4px 44px 80px 18px;
  font-weight: 400;
  font-size: 14px;
}

.about-title {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
}

.about-version {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  margin-top: 10px;
}

.about-content {
  letter-spacing: 0.25px;
  color: #4d4d4d;
  margin-top: 27px;
}

.about-content-more-info {
  margin-top: 25px;
}

.info-container {
  margin-top: 10px;
  font-size: 14px;
}

.about-link-title {
  margin-top: 25px;
  font-size: 20px;
}

.about-link {
  margin-top: 20px;
  font-size: 16px;
  color: #FF8D00 !important;
}

.about-tou {
  margin-top: 10px;  
  font-size: 16px;
  color: #FF8D00 !important;
}

.about-button {
  margin-left: -3px;
}

.about-button .button-xl button {
  color: white;
  height: 38px;
}