.display-none {
  display: none;
}

.crust-logo {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.crust-banner {
  height: 23px;
}

.crust-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.crust-header {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  padding: 16px 16px 11px 15px;
  height: 50px;
  width: 360px;
  align-items: center;
}

.crust-header-banner {
  justify-content: space-between;
}

.crust-header-boarded {
  justify-content: space-between;
}

.crust-network {
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  padding: 2px 4px;
  width: 160px;
}

.crust-network-status {
  margin-right: 5px;
}

.crust-config {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.crust-settings {
  margin-left: auto;
  align-self: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: flex-end;
  font-size: 18px;
}

.crust-user-id {
  margin-left: auto;
  align-self: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: flex-end;
}

.crust-header-text {
  font-size: 18px;
  color: #111A34;
  font-weight: bold;
  font-family: Roboto-Regular;
}

.crust-header-gray {
  background: #F7F7FA !important;
}
